<div class="container">

    <div class="row p-3 border-bottom">
        <div class="col-6">
        <span class=" avatar-md ">
            <img src="https://pbs.twimg.com/media/D1EKW0cXcAAwQMg.jpg" alt="..." class="avatar-img rounded-circle"/>
        </span>
        <div class="form-check-inline p-2"> 

                <span class="ml-2 item-text" *ngFor="let att of roomInfo.Attendants">{{att.Name}}</span>

        </div>




        </div>
        <div class="col-6">
            <!-- <div class="dropdown float-right p-2">
                {/* create new user problem request  */}
                <button type="button" class="btn btn-primary" onClick={()=>{setModal(true)}}>Create Problem </button>
                {/* GTFO */}
                <button type="button" class="btn btn-danger ml-2" onClick={()=>{GTFO()}}>GTFOUT</button>
            </div> -->

        </div>

        

    </div>
    <app-chat-area></app-chat-area>

   







<!-- 
    <Modal show={modal} size="lg" onHide={()=>setModal(false)}>
        <Modal.Header closeButton>
        <Modal.Title>Modal heading</Modal.Title>
        </Modal.Header>
        <Modal.Body>
            <ProblemForm info = {info} room={id} socket={socket}/>
        </Modal.Body>
    </Modal> -->

</div>

