<div class=" h-100">

    <div class=" position-absolute bottom-0 end-0   ">

        <div class="test border border-secondary">
            <div class="row p-2 ">
                <div class="col-3">
                    <span class=" avatar-md ">
                        <img src="https://pbs.twimg.com/media/D1EKW0cXcAAwQMg.jpg" alt="..." class="avatar-img rounded-circle"/>
                    </span>
                    
                 </div>
                 <div class="col-9">
                 <span class="mr-3 item-text">Helper ?</span>
                 <span class="badge rounded-pill bg-success">Online</span>
                 <!-- {
                    room.lastSeenChat && room.lastSeenChat.fromUser !== info._id ? <span class="badge badge-primary">New</span> : null
                } -->
                 </div>

            </div>
            <app-chat-area></app-chat-area>

            
        </div>
    </div>



</div>