.test{

    width: 20rem;
    box-shadow: 5px 10px #888888;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: .8rem;
    font-size: .9rem;;
    padding: .8rem;
}
.sub_div { 
    position: absolute; 
    bottom: 0px; 
} 
.chatBox{
    height: 20rem;
    max-height:20rem;
    overflow: auto;
    padding: .2rem;
}
.inputRadius{
    border-radius: .8rem;
    
}