<div class="row chatArea p3">
    <small class="text-center mt-2" >You've reached the beginning of the chat box</small>
    
    <div *ngFor="let chat of chatList" [ngSwitch]="chat.FromUser">

        <app-my-chat *ngSwitchCase="info.Id " [chat]="chat" ></app-my-chat>
        <app-your-chat *ngSwitchDefault [chat]="chat"></app-your-chat>


    </div>

    




<!-- <div class="col-12">



    <span class=" avatar-sm float-right">
        <img src="https://pbs.twimg.com/media/D1EKW0cXcAAwQMg.jpg" alt="..." class="avatar-img rounded-circle"/>
    </span>
</div> -->



</div>

    <div class="input-group mb-3 mt-2 position-sticky ">
        <input type="text" class="form-control" placeholder="Say something ..." value={{chatContent}} (change)="changeContent($event)" />
        <button class="btn btn-outline-secondary" type="button" (click)="sendChat()">Send</button>
    </div> 