<div class="row">
    <!-- {/* <div class="col-1">
    <span class="avatar-sm mt-2">
        <img src={"https://pbs.twimg.com/media/D1EKW0cXcAAwQMg.jpg"} alt="..." class="avatar-img rounded-circle"/>
    </span>
    </div> */} -->

<div class="col-10">
    <div class="chatbox">
        <span class="textDisplay">{{chat.Content}}</span>
        <!-- {chat.fromUser?.name === null ? null : <small class="font-italic">by: {chat.fromUser?.name}</small>    } -->
        <!-- <small class="font-italic">by: {{chat.}}</small> -->
    </div>
    <!-- {/* <div class="chatbox repliesbox ">
    <small>Reply...</small>
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    </div> */} -->

</div>
</div>
